# Make API
MAKE_API_TOKEN=your_make_api_token_here
MAKE_API_BASE_URL=https://eu1.make.com/api/v2
MAKE_ORGANIZATION_ID=your_organization_id_here
MAKE_TEAM_ID=your_team_id_here

# Cost calculation
MAKE_PLAN_CREDITS=10000
MAKE_MONTHLY_COST_EUR=21
MAKE_EXTRA_CREDITS=0
MAKE_EXTRA_COST_EUR=0
CURRENCY=EUR
